@charset "UTF-8";

/*---------------------------------------
					공통
----------------------------------------*/
.page-main{
   margin-top:60px;
}
.content-main {
   width: 87%;
   margin: auto;
   overflow:hidden;
   padding: 100px 20px;
}
header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
    background-color: #fff;
    padding-left: 20px;
}
/*---------------------------------------
				이벤트 메인 페이지
----------------------------------------*/
/*           		상단        		 	*/
#container{
   background-color: white;
}

#navbar{
   padding:0px;
}

    #event_list_nav{
    	padding-top:10px;
    }
    
/*           	메인	            		*/
	.event_cate_title{
		margin-top:15px;
		font-size:25px;
	}
	.locked_event_notice{
		margin-top:25px;
		font-size: 15px;
	}
	.card{
        margin: 20px 20px 20px 0;
      /*   box-shadow : -3px 3px 6px gray; */
    }
    .event_btn{
        width:47%;
    }
    #update_event_btn{
    	margin-bottom: 15px;
    }
    .card img{
        width:100%; height:160px;
    }
    .card-title{
   		 margin-bottom:25px; margin-top:18px;
   	}
   		 
/*           	더보기 버튼		            */
    #more_view{
    	margin-top:20px; margin-bottom:30px;
    }
    
/*        진행-마감이벤트 박스 간격조정			*/
	#progress_event{
		margin-bottom:40px;
	}


/*---------------------------------------
				이벤트 상세 페이지
----------------------------------------*/
/*           상단 이벤트 신청 배너            */
	#register_banner {
		position:relative;
		top:0px;
		z-index:1;
		padding-top:5px; padding-bottom:5px;
		font-size:25px; 
		vertical-align:bottom;
		background-color:#d7f5ff;
	}
	#register_btn input{
		position:relative;
		left:0px;
		z-index:100;
	}
	#event_benefit{
		color:red;
	}
	#detail_rest_date{
		text-align:center;
		font-size:33px;
		vertical-align:bottom;
	}
/*           		메인		          	 */
	#eventDetail_btn{
		margin-top:10px;
	}
	#info_title{
		margin-top:10px;
	}
	#event_content{margin-top:15px;
		margin-bottom:23px;}

	#event_detail_period{
		position:relative;
		top:0;
		line-height:2;
	}	
	#event_detail_info{
		position:relative;
		top:15px;
	}
/*           	하단 주의사항           	 */
    .notice_title{
       text-align:center;
       font-size: 17px;
    }
    .notice_content{font-size:12px;}
    .notice_container{
        padding:20px;
        background-color: gray;
        line-height: 20px;
        color:white;
    }
	